@import "./src/assets/scss/common/mixins/mixins";

.full-height {
    height: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.medium-text-right {
    @include tablet {
        text-align: right;
    }
}

.small-text-right {
    @include smartphone {
        text-align: right;
    }
}

.no-margin {
    margin: 0;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
