@import "../../../../assets/scss/common/constants/constants";

header {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    min-height: 4rem;
    background-color: $almost-black;
    font-family: $font-medium;
}

img {
    width: 35px;
    height: 35px;
}

.menu-item {
    margin-right: 2rem;
    padding: 0 2rem;
    border-bottom: solid 2px transparent;
    color: $grey;
    cursor: pointer;

    &:hover {
        border-bottom: solid 2px $red;
        color: $white;
    }
}
