@import "../../../../assets/scss/common/constants/constants";

.league-table {
    padding: 1rem;
}

.table-header {
    color: $grey;
    font-size: .8125rem;
}

.position {
    line-height: 1;
}

.table-content {
    font-family: $font-light;

    .team-name {
        display: inline;
        margin-left: .5rem;
    }

    .team-name,
    .points {
        font-family: $font-medium;
    }

    .result-item {
        min-height: 3rem;
    }

    .icon-dot {
        margin-left: .375rem;
        color: $grey;
        font-size: .375rem;
    }
}

.dot {
    color: $grey;
}
