<section class="dashboard">
    <div class="row align-center">
        <div class="small-12 column">
            <section>
                <msl-match-of-the-day></msl-match-of-the-day>
            </section>
        </div>
        <div class="small-12 medium-7 large-8 column">
            <div class="row align-middle">
                <div class="small-12 column">
                    <section class="empty-section">
                        Terminarz
                    </section>

                </div>
                <div class="small-12 column">
                    <section class="empty-section">
                        <msl-dashboard-leagues-table></msl-dashboard-leagues-table>
                    </section>

                </div>
            </div>
        </div>
        <div class="small-12 medium-5 large-4 column">
            <section class="empty-section">
                <msl-dashboard-matches-results></msl-dashboard-matches-results>
            </section>
        </div>
    </div>
</section>
