@import "./src/assets/scss/common/constants/constants";

.dashboard {
    section {
        margin-top: 1rem;
        background-color: $almost-black;
        border-radius: .5rem;
    }
}

.dashboard-section {
    min-height: 500px;
}
