@import "./src/assets/scss/common/constants/constants";

.match-of-the-day {
    min-height: 200px;
    padding: 1rem;
}

h2 {
    color: $white;
    font-family: $font-regular;
    font-size: 1.5rem;
}

.league-name {
    color: $grey;
    font-family: $font-regular;
}
