<div class="match">
    <div class="row collapse align-middle">

        <div
            *ngIf="matchDate"
            class="shrink column match-date text-center"
        >
            {{matchDate | mslDate: 'short'}}
        </div>

        <div class="column align-middle">
            <div class="row collapse align-justify">
                <div class="column">
                    <div class="team row collapse align-middle">
                        <div class="column text-center">
                            <div class="team-name text-ellipsis">{{matchData['1'].team.name}}</div>
                        </div>
                        <div class="shrink column text-center">
                            <msl-team-avatar
                                class="avatar"
                                [size]="teamAvatarSize"
                                [img]="matchData['1'].team.logoUrl"
                            ></msl-team-avatar>
                        </div>
                    </div>
                </div>
                <div class="column shrink">
                    <div class="score flex-container align-justify align-center-middle"
                         *ngIf="matchData['1'].result"
                    >
                        <div class="single-score">{{matchData['1'].result.score}}</div>
                        <div class="separator">
                            :
                        </div>
                        <div class="single-score">{{matchData['2'].result.score}}</div>
                    </div>
                    <div class="empty-score flex-container align-center-middle full-height"
                         *ngIf="!matchData['1'].result"
                    >
                        <div class="single-score">-</div>
                        <div class="separator">
                            :
                        </div>
                        <div class="single-score">-</div>
                    </div>
                </div>
                <div class="column">
                    <div class="team row collapse align-middle">
                        <div class="shrink column text-center">
                            <msl-team-avatar
                                class="avatar"
                                [size]="teamAvatarSize"
                                [img]="matchData['2'].team.logoUrl"
                            ></msl-team-avatar>
                        </div>
                        <div class="column text-center">
                            <div class="team-name text-ellipsis">{{matchData['2'].team.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
