<footer>
    <div class="row">
        <div class="small-12 medium-8 column">
            <div class="app-name">
                <img src="assets/images/logo_2.png" alt="logo" />
                <span>My Sport League</span>
            </div>
            <div class="copyright">
                <div>
                    Copyright @ 2020
                </div>
                <div>
                    by
                    <a
                        href="https://www.linkedin.com/in/pawe%C5%82-p%C5%82oszaj-304a2887/"
                        target="_blank"
                    >
                        Paweł Płoszaj
                    </a>
                </div>
            </div>
        </div>

        <div class="small-12 medium-4 column medium-text-right">
            <div class="layout-copyright">
                UI inspired by
                <a
                    href="https://www.behance.net/gallery/87223235/LOW6-Sport-Bets-Statistics-Mobile-App"
                    target="_blank"
                >
                    Low6
                </a>
            </div>
        </div>
    </div>
</footer>
