@import "../../../../assets/scss/common/constants/constants";

a {
    display: inline-block;
    margin: 1rem 0;
    color: $red;

    &::after {
        display: inline-block;
        width: 2rem;
        margin: 0 1rem;
        border-top: 1px solid $red;
        content: "";
        font-family: $font-medium;
        transform: translateY(-4px);
    }
}
